In [283]:
import pandas as pd
import numpy as np


path = '/Users/jonzimmerman/Desktop/Data Projects/Amtrak/data/'
amtrak_df = pd.read_csv(path + 'amtrak_df.csv')
amtrak_df.shape

(33432, 10)

### Little cleanup before getting into everything

#### 1.) Fix Tomah, WI coordinates

In [284]:
amtrak_df['lat'] = np.where(amtrak_df['abbrev']=="TOH",43.985912,amtrak_df['lat'])
amtrak_df['lon'] = np.where(amtrak_df['abbrev']=="TOH",-90.506204,amtrak_df['lon'])

#### 2.) Add route data

https://www.railpassengers.org/resources/ridership-statistics/

### Part 1

In [285]:
acela = ['Baltimore, MD','BWI Airport','Back Bay','Boston','Metropark','New Carrollton','New Haven','New London','New Rochelle','New York, NY','Newark, NJ','Philadelphia, PA','Providence, RI','Stamford, CT','Trenton, NJ','Washington, DC','Wilmington, DE','Route 128-Westwood, MA']
adirondack = ['Albany, NY', 'Croton', 'Fort Edward-Glens Falls, NY', 'Hudson', 'New York, NY', 'Plattsburgh', 'Port Henry', 'Poughkeepsie', 'Rhinecliff', 'Rouses Point', 'St. Lambert', 'Saratoga Springs', 'Schenectady', 'Ticonderoga', 'Westport', 'Whitehall', 'Yonkers']
cascades = ['Albany, OR','Bellingham, WA', 'Centralia', 'Edmonds, WA', 'Eugene, OR', 'Everett, WA','Kelso--Longview','Mount Vernon','Olympia','Oregon City', 'Portland','Salem','Seattle','Stanwood','Tacoma','Tukwila','Vancouver']
blue_water = ['Battle Creek','Chicago','Dowagiac','Durand', 'East Lansing', 'Flint', 'Kalamazoo', 'Lapeer','New Buffalo', 'Niles','Port Huron']
california_zephyr = ['Burlington','Chicago','Colfax','Creston','Davis','Denver','Elko','Emeryville','Fort Morgan','Fraser-Winter Park','Galesburg','Glenwood Springs','Granby','Grand Junction','Green River','Hastings','Helper','Holdrege','Lincoln','Martinez','McCook','Mount Pleasant','Naperville','Omaha','Osceola','Ottumwa','Princeton, IL','Provo','Reno','Roseville','Sacramento','Salt Lake City','Truckee','Winnemucca']

# Create regex patterns for each route
acela_pattern = '|'.join(acela)
adirondack_pattern = '|'.join(adirondack)
cascades_pattern = '|'.join(cascades)
blue_water_pattern = '|'.join(blue_water)
california_zephyr_pattern = '|'.join(california_zephyr)

# Apply np.where with correct scalar choices
amtrak_df['acela_route'] = np.where(amtrak_df['station_name'].str.contains(acela_pattern, case=False, na=False), 1,0)
amtrak_df['adirondack_route'] = np.where(amtrak_df['station_name'].str.contains(adirondack_pattern, case=False, na=False), 1 ,0)
amtrak_df['cascades_route'] = np.where(amtrak_df['station_name'].str.contains(cascades_pattern, case=False, na=False), 1 ,0)
amtrak_df['blue_water_route'] = np.where(amtrak_df['station_name'].str.contains(blue_water_pattern, case=False, na=False), 1 ,0)
amtrak_df['california_zephyr_route'] = np.where(amtrak_df['station_name'].str.contains(california_zephyr_pattern, case=False, na=False), 1 ,0)

### Part 2

In [286]:
capital_corridor = ['Auburn','Berkeley','Davis','Emeryville','Fairfield','Vacaville','Fremont','Hayward','Martinez','Oakland','Oakland Coliseum','Rocklin','Roseville','Sacramento','San Jose','Santa Clara','Suisun City']
capital_limited = ['Alliance','Chicago','Cleveland','Connellsville','Cumberland','Elkhart','Elyria','Harpers Ferry','Martinsburg','Pittsburgh','Rockville','Sandusky','South Bend','Toledo','Washington, DC','Waterloo']
cardinal = ['Alderson','Alexandria','Ashland','Baltimore','Charleston','Charlottesville','Chicago','Cincinnati','Clifton Forge','Connersville','Crawfordsville','Culpeper','Dyer','Hinton','Huntington','Indianapolis','Lafayette','Manassas','Maysville','Montgomery','New York','Newark','Philadelphia','Prince','Rensselaer','Portsmouth','Staunton','Thurmond','Trenton','Washington, DC','Sulphur Springs','Wilmington']
carl_sandburg = ['Chicago','Galesburg','Kewanee','La Grange','Macomb','Mendota','Naperville','Plano','Princeton, IL','Quincy']
carolian = ['Alexandria, VA','Baltimore','Burlington, NC','Cary','Charlotte','Durham','Fredericksburg','Greensboro',
            'High Point','Kannapolis','New York','Newark, NJ','NC State Fair','Petersburg','Philadelphia','Quantico',
            'Raleigh','Richmond','Rocky Mount','Salisbury','Selma--Smithfield','Trenton','Washington, DC',
            'Wilmington, DE','Wilson']


capital_corridor_pattern = '|'.join(capital_corridor)
capital_limited_pattern = '|'.join(capital_limited)
cardinal_pattern = '|'.join(cardinal)
carl_sandburg_pattern = '|'.join(carl_sandburg)
carolian_pattern = '|'.join(carolian)


amtrak_df['capital_corridor_route'] = np.where(amtrak_df['station_name'].str.contains(capital_corridor_pattern, case=False, na=False), 1,0)
amtrak_df['capital_limited_route'] = np.where(amtrak_df['station_name'].str.contains(capital_limited_pattern, case=False, na=False), 1,0)
amtrak_df['cardinal_route'] = np.where(amtrak_df['station_name'].str.contains(cardinal_pattern, case=False, na=False), 1,0)
amtrak_df['carl_sandburg_route'] = np.where(amtrak_df['station_name'].str.contains(carl_sandburg_pattern, case=False, na=False), 1,0)
amtrak_df['carolian_route'] = np.where(amtrak_df['station_name'].str.contains(carolian_pattern, case=False, na=False), 1 ,0)

### Part 3

In [287]:
city_of_new_orleans = ['Brookhaven','Carbondale','Centralia, IL','Champaign','Chicago','Effingham','Fulton','Greenwood','Hammond','Hazlehurst','Homewood','Jackson, MS','Kankakee','Marks','Mattoon','McComb','Memphis','New Orleans','Newbern--Dyersburg','Yazoo City']
coast_starlight = ['Albany, OR','Burbank','Centralia, WA','Chemult','Chico','Davis','Dunsmuir','Emeryville','Eugene','Kelso-Longview','Klamath Falls','Los Angeles','Martinez','Oakland','Olympia','Oxnard','Paso Robles','Portland','Redding','Sacramento','Salem','Salinas','San Jose','San Luis Obispo','Santa Barbara','Seattle','Simi Valley','Tacoma','Van Nuys','Vancouver']
crescent = ['Alexandria','Anniston','Atlanta','Baltimore','BWI Airport','Birmingham','Charlotte','Charlottesville','Clemson','Culpeper','Danville','Gainesville','Gastonia','Greensboro','Greenville','Hattiesburg','High Point','Laurel','Lynchburg','Manassas','Meridian','Metropark','New Orleans','New York','Newark','Philadelphia','Picayune','Salisbury','Slidell','Spartanburg','Toccoa','Trenton','Tuscaloosa','Washington, DC','Wilmington, DE']
downeaster = ['Boston-North','Brunswick','Dover','Durham-UNH','Exeter','Freeport','Haverhill','Old Orchard Beach','Portland','Saco','Wells','Woburn']
empire_builder = ['Bingen','White Salmon','Browning','Chicago','Columbus','Cut Bank','Detroit Lakes','Devils Lake','East Glacier','Edmonds','Ephrata','Essex, MT','Everett','Fargo','Glasgow','Glenview','Grand Forks','Havre','La Crosse','Leavenworth','Libby','Malta','Milwaukee','Minot','Pasco','Portage','Portland','Red Wing','Rugby','St. Cloud','St. Paul','Sandpoint','Seattle','Shelby','Spokane','Stanley','Staples','Tomah','Vancouver','Wenatchee','West Glacier','Whitefish','Williston','Winona','Wisconsin Dells','Wishram','Wolf Point']

city_of_new_orleans_pattern = '|'.join(city_of_new_orleans)
coast_starlight_pattern = '|'.join(coast_starlight)
crescent_pattern = '|'.join(crescent)
downeaster_pattern = '|'.join(downeaster)
empire_builder_pattern = '|'.join(empire_builder)

amtrak_df['city_of_new_orleans_route'] = np.where(amtrak_df['station_name'].str.contains(city_of_new_orleans_pattern, case=False, na=False), 1,0)
amtrak_df['coast_starlight_route'] = np.where(amtrak_df['station_name'].str.contains(coast_starlight_pattern, case=False, na=False), 1,0)
amtrak_df['crescent_route'] = np.where(amtrak_df['station_name'].str.contains(crescent_pattern, case=False, na=False), 1,0)
amtrak_df['downeaster_route'] = np.where(amtrak_df['station_name'].str.contains(downeaster_pattern, case=False, na=False), 1,0)
amtrak_df['empire_builder_route'] = np.where(amtrak_df['station_name'].str.contains(empire_builder_pattern, case=False, na=False), 1,0)

### Part 4

In [290]:
ethan_allen = ['Albany, NY','Burlington, VT','Castleton','Croton-Harmon','Fort Edward','Hudson','Middlebury','New York','Poughkeepsie','Rhinecliff','Rutland','Saratoga Springs','Schenectady','Vergennes','Yonkers']
heartland_flyer = ['Ardmore, OK','Dallas','Fort Worth','Gainesville','Norman','Oklahoma City','Pauls Valley','Purcell']
hiawatha = ['Chicago','Glenview','Milwaukee','Milwaukee Airport','Sturtevant']
illini_saluki = ['Carbondale','Centralia, IL','Champaign','Chicago','Du Quoin','Effingham',
                 'Gilman','Homewood','Kankakee','Mattoon','Rantoul']
keystone = ['Ardmore, PA','Coatesville','Downingtown','Elizabethtown','Exton','Harrisburg',
            'Lancaster','Metropark','Middletown','Mount Joy','New Brunswick','New York',
            'Newark','Newark-EWR','Paoli','Parkesburg','Philadelphia','Princeton Jct.','Trenton']

ethan_allen_pattern = '|'.join(ethan_allen)
heartland_flyer_pattern = '|'.join(heartland_flyer)
hiawatha_pattern = '|'.join(hiawatha)
illini_saluki_pattern = '|'.join(illini_saluki)
keystone_pattern = '|'.join(keystone)


amtrak_df['ethan_allen_route'] = np.where(amtrak_df['station_name'].str.contains(ethan_allen_pattern, case=False, na=False), 1,0)
amtrak_df['heartland_flyer_route'] = np.where(amtrak_df['station_name'].str.contains(heartland_flyer_pattern, case=False, na=False), 1,0)
amtrak_df['hiawatha_route'] = np.where(amtrak_df['station_name'].str.contains(hiawatha_pattern, case=False, na=False), 1,0)
amtrak_df['illini_saluki_route'] = np.where(amtrak_df['station_name'].str.contains(illini_saluki_pattern, case=False, na=False), 1,0)
amtrak_df['keystone_route'] = np.where(amtrak_df['station_name'].str.contains(keystone_pattern, case=False, na=False), 1,0)

### Inspect each route to make sure correct stations are captured

In [291]:
inspect = amtrak_df[amtrak_df['keystone_route']==1]
inspect['station_name'].unique().tolist()

['Ardmore, PA',
 'Coatesville, PA',
 'Downingtown, PA',
 'Elizabethtown, PA',
 'Exton, PA',
 'Metropark-Iselin, NJ',
 'Middletown, PA',
 'Mount Joy, PA',
 'New Brunswick, NJ',
 'New York, NY',
 'Newark, DE',
 'Newark, NJ',
 'Newark-Liberty, NJ',
 'Parkesburg, PA',
 'Philadelphia, PA',
 'Princeton Jct, NJ',
 'Trenton, NJ']

In [282]:
test = amtrak_df[amtrak_df['station_name'].str.contains("q")]
test['station_name'].unique().tolist()

['Albuquerque, NM']