In [2]:
import pandas as pd
import numpy as np


path = '/Users/jonzimmerman/Desktop/Data Projects/Amtrak/data/'
amtrak_df = pd.read_csv(path + 'amtrak_df.csv')
amtrak_df.shape

(33432, 10)

### Little cleanup before getting into everything

#### 1.) Fix Tomah, WI coordinates

In [3]:
amtrak_df['lat'] = np.where(amtrak_df['abbrev']=="TOH",43.985912,amtrak_df['lat'])
amtrak_df['lon'] = np.where(amtrak_df['abbrev']=="TOH",-90.506204,amtrak_df['lon'])

#### 2.) Add route data

https://www.railpassengers.org/resources/ridership-statistics/

### Part 1

In [4]:
acela = ['Baltimore, MD','BWI Airport','Back Bay','Boston','Metropark','New Carrollton','New Haven','New London','New Rochelle','New York, NY','Newark, NJ','Philadelphia, PA','Providence, RI','Stamford, CT','Trenton, NJ','Washington, DC','Wilmington, DE','Route 128-Westwood, MA']
adirondack = ['Albany, NY', 'Croton', 'Fort Edward-Glens Falls, NY', 'Hudson', 'New York, NY', 'Plattsburgh', 'Port Henry', 'Poughkeepsie', 'Rhinecliff', 'Rouses Point', 'St. Lambert', 'Saratoga Springs', 'Schenectady', 'Ticonderoga', 'Westport', 'Whitehall', 'Yonkers']
cascades = ['Albany, OR','Bellingham, WA', 'Centralia', 'Edmonds, WA', 'Eugene, OR', 'Everett, WA','Kelso--Longview','Mount Vernon','Olympia','Oregon City', 'Portland','Salem','Seattle','Stanwood','Tacoma','Tukwila','Vancouver']
blue_water = ['Battle Creek','Chicago','Dowagiac','Durand', 'East Lansing', 'Flint', 'Kalamazoo', 'Lapeer','New Buffalo', 'Niles','Port Huron']
california_zephyr = ['Burlington','Chicago','Colfax','Creston','Davis','Denver','Elko','Emeryville','Fort Morgan','Fraser-Winter Park','Galesburg','Glenwood Springs','Granby','Grand Junction','Green River','Hastings','Helper','Holdrege','Lincoln','Martinez','McCook','Mount Pleasant','Naperville','Omaha','Osceola','Ottumwa','Princeton, IL','Provo','Reno','Roseville','Sacramento','Salt Lake City','Truckee','Winnemucca']

# Create regex patterns for each route
acela_pattern = '|'.join(acela)
adirondack_pattern = '|'.join(adirondack)
cascades_pattern = '|'.join(cascades)
blue_water_pattern = '|'.join(blue_water)
california_zephyr_pattern = '|'.join(california_zephyr)

# Apply np.where with correct scalar choices
amtrak_df['acela_route'] = np.where(amtrak_df['station_name'].str.contains(acela_pattern, case=False, na=False), 1,0)
amtrak_df['adirondack_route'] = np.where(amtrak_df['station_name'].str.contains(adirondack_pattern, case=False, na=False), 1 ,0)
amtrak_df['cascades_route'] = np.where(amtrak_df['station_name'].str.contains(cascades_pattern, case=False, na=False), 1 ,0)
amtrak_df['blue_water_route'] = np.where(amtrak_df['station_name'].str.contains(blue_water_pattern, case=False, na=False), 1 ,0)
amtrak_df['california_zephyr_route'] = np.where(amtrak_df['station_name'].str.contains(california_zephyr_pattern, case=False, na=False), 1 ,0)

### Part 2

In [5]:
capital_corridor = ['Auburn','Berkeley','Davis','Emeryville','Fairfield','Vacaville','Fremont','Hayward','Martinez','Oakland','Oakland Coliseum','Rocklin','Roseville','Sacramento','San Jose','Santa Clara','Suisun City']
capital_limited = ['Alliance','Chicago','Cleveland','Connellsville','Cumberland','Elkhart','Elyria','Harpers Ferry','Martinsburg','Pittsburgh','Rockville','Sandusky','South Bend','Toledo','Washington, DC','Waterloo']
cardinal = ['Alderson','Alexandria','Ashland','Baltimore','Charleston','Charlottesville','Chicago','Cincinnati','Clifton Forge','Connersville','Crawfordsville','Culpeper','Dyer','Hinton','Huntington','Indianapolis','Lafayette','Manassas','Maysville','Montgomery','New York','Newark','Philadelphia','Prince','Rensselaer','Portsmouth','Staunton','Thurmond','Trenton','Washington, DC','Sulphur Springs','Wilmington']
carl_sandburg = ['Chicago','Galesburg','Kewanee','La Grange','Macomb','Mendota','Naperville','Plano','Princeton, IL','Quincy']
carolian = ['Alexandria, VA','Baltimore','Burlington, NC','Cary','Charlotte','Durham','Fredericksburg','Greensboro',
            'High Point','Kannapolis','New York','Newark, NJ','NC State Fair','Petersburg','Philadelphia','Quantico',
            'Raleigh','Richmond','Rocky Mount','Salisbury','Selma--Smithfield','Trenton','Washington, DC',
            'Wilmington, DE','Wilson']


capital_corridor_pattern = '|'.join(capital_corridor)
capital_limited_pattern = '|'.join(capital_limited)
cardinal_pattern = '|'.join(cardinal)
carl_sandburg_pattern = '|'.join(carl_sandburg)
carolian_pattern = '|'.join(carolian)


amtrak_df['capital_corridor_route'] = np.where(amtrak_df['station_name'].str.contains(capital_corridor_pattern, case=False, na=False), 1,0)
amtrak_df['capital_limited_route'] = np.where(amtrak_df['station_name'].str.contains(capital_limited_pattern, case=False, na=False), 1,0)
amtrak_df['cardinal_route'] = np.where(amtrak_df['station_name'].str.contains(cardinal_pattern, case=False, na=False), 1,0)
amtrak_df['carl_sandburg_route'] = np.where(amtrak_df['station_name'].str.contains(carl_sandburg_pattern, case=False, na=False), 1,0)
amtrak_df['carolian_route'] = np.where(amtrak_df['station_name'].str.contains(carolian_pattern, case=False, na=False), 1 ,0)

### Part 3

In [6]:
city_of_new_orleans = ['Brookhaven','Carbondale','Centralia, IL','Champaign','Chicago','Effingham','Fulton','Greenwood','Hammond','Hazlehurst','Homewood','Jackson, MS','Kankakee','Marks','Mattoon','McComb','Memphis','New Orleans','Newbern--Dyersburg','Yazoo City']
coast_starlight = ['Albany, OR','Burbank','Centralia, WA','Chemult','Chico','Davis','Dunsmuir','Emeryville','Eugene','Kelso-Longview','Klamath Falls','Los Angeles','Martinez','Oakland','Olympia','Oxnard','Paso Robles','Portland','Redding','Sacramento','Salem','Salinas','San Jose','San Luis Obispo','Santa Barbara','Seattle','Simi Valley','Tacoma','Van Nuys','Vancouver']
crescent = ['Alexandria','Anniston','Atlanta','Baltimore','BWI Airport','Birmingham','Charlotte','Charlottesville','Clemson','Culpeper','Danville','Gainesville','Gastonia','Greensboro','Greenville','Hattiesburg','High Point','Laurel','Lynchburg','Manassas','Meridian','Metropark','New Orleans','New York','Newark','Philadelphia','Picayune','Salisbury','Slidell','Spartanburg','Toccoa','Trenton','Tuscaloosa','Washington, DC','Wilmington, DE']
downeaster = ['Boston-North','Brunswick','Dover','Durham-UNH','Exeter','Freeport','Haverhill','Old Orchard Beach','Portland','Saco','Wells','Woburn']
empire_builder = ['Bingen','White Salmon','Browning','Chicago','Columbus','Cut Bank','Detroit Lakes','Devils Lake','East Glacier','Edmonds','Ephrata','Essex, MT','Everett','Fargo','Glasgow','Glenview','Grand Forks','Havre','La Crosse','Leavenworth','Libby','Malta','Milwaukee','Minot','Pasco','Portage','Portland','Red Wing','Rugby','St. Cloud','St. Paul','Sandpoint','Seattle','Shelby','Spokane','Stanley','Staples','Tomah','Vancouver','Wenatchee','West Glacier','Whitefish','Williston','Winona','Wisconsin Dells','Wishram','Wolf Point']

city_of_new_orleans_pattern = '|'.join(city_of_new_orleans)
coast_starlight_pattern = '|'.join(coast_starlight)
crescent_pattern = '|'.join(crescent)
downeaster_pattern = '|'.join(downeaster)
empire_builder_pattern = '|'.join(empire_builder)

amtrak_df['city_of_new_orleans_route'] = np.where(amtrak_df['station_name'].str.contains(city_of_new_orleans_pattern, case=False, na=False), 1,0)
amtrak_df['coast_starlight_route'] = np.where(amtrak_df['station_name'].str.contains(coast_starlight_pattern, case=False, na=False), 1,0)
amtrak_df['crescent_route'] = np.where(amtrak_df['station_name'].str.contains(crescent_pattern, case=False, na=False), 1,0)
amtrak_df['downeaster_route'] = np.where(amtrak_df['station_name'].str.contains(downeaster_pattern, case=False, na=False), 1,0)
amtrak_df['empire_builder_route'] = np.where(amtrak_df['station_name'].str.contains(empire_builder_pattern, case=False, na=False), 1,0)

### Part 4

In [7]:
ethan_allen = ['Albany, NY','Burlington, VT','Castleton','Croton-Harmon','Fort Edward','Hudson','Middlebury','New York','Poughkeepsie','Rhinecliff','Rutland','Saratoga Springs','Schenectady','Vergennes','Yonkers']
heartland_flyer = ['Ardmore, OK','Dallas','Fort Worth','Gainesville','Norman','Oklahoma City','Pauls Valley','Purcell']
hiawatha = ['Chicago','Glenview','Milwaukee','Milwaukee Airport','Sturtevant']
illini_saluki = ['Carbondale','Centralia, IL','Champaign','Chicago','Du Quoin','Effingham','Gilman','Homewood','Kankakee','Mattoon','Rantoul']
keystone = ['Ardmore, PA','Coatesville','Downingtown','Elizabethtown','Exton','Harrisburg',
            'Lancaster','Metropark','Middletown','Mount Joy','New Brunswick','New York',
            'Newark','Newark-EWR','Paoli','Parkesburg','Philadelphia','Princeton Jct.','Trenton']

ethan_allen_pattern = '|'.join(ethan_allen)
heartland_flyer_pattern = '|'.join(heartland_flyer)
hiawatha_pattern = '|'.join(hiawatha)
illini_saluki_pattern = '|'.join(illini_saluki)
keystone_pattern = '|'.join(keystone)


amtrak_df['ethan_allen_route'] = np.where(amtrak_df['station_name'].str.contains(ethan_allen_pattern, case=False, na=False), 1,0)
amtrak_df['heartland_flyer_route'] = np.where(amtrak_df['station_name'].str.contains(heartland_flyer_pattern, case=False, na=False), 1,0)
amtrak_df['hiawatha_route'] = np.where(amtrak_df['station_name'].str.contains(hiawatha_pattern, case=False, na=False), 1,0)
amtrak_df['illini_saluki_route'] = np.where(amtrak_df['station_name'].str.contains(illini_saluki_pattern, case=False, na=False), 1,0)
amtrak_df['keystone_route'] = np.where(amtrak_df['station_name'].str.contains(keystone_pattern, case=False, na=False), 1,0)

### Part 5

In [32]:
lake_shore_limited = ['Albany, NY','Back Bay','Boston','Bryan','Buffalo','Chicago','Cleveland','Croton','Elkhart','Elyria','Erie','Framingham','New York','Pittsfield','Poughkeepsie','Rhinecliff','Rochester','Sandusky','Schenectady','South Bend','Springfield','Syracuse','Toledo','Utica','Waterloo','Worcester']
lincoln = ['Alton','Normal','Carlinville','Chicago','Dwight','Joliet','Lincoln, IL','Pontiac, IL','St. Louis','Springfield, IL','Summit, IL']
maple_leaf = ['Albany, NY','Amsterdam','Buffalo-Exchange St., NY','Buffalo-Depew, NY','Canada-US border','Croton','Hudson, NY','New York','NY State Fair','Niagara','Poughkeepsie','Rhinecliff','Rochester','Rome','Schenectady','Syracuse','Toronto','Utica','Yonkers']
missouri_river_runner = ['Alton','Normal','Chicago','Hermann','Independence','Jefferson City','Joliet','Kansas City','Kirkwood','Lees Summit','St. Louis','Sedalia','Springfield, MO','Summit, MO','Warrensburg','Washington, MO']
ne_regional = ['Aberdeen','Baltimore','BWI Airport','Back Bay','Boston','Bridgeport','Cornwells Hgts','West Kingston','Metropark','Mystic','New Brunswick','New Carrollton','New Haven','New London','New Rochelle','New York','Newark, DE','Newark, NJ','Newark-EWR','Old Saybrook','Philadelphia','N. Philadelphia','Princeton Jct.','Providence','Route 128','Stamford','Trenton','Washington, DC','Westerly','Wilmington']


lake_shore_limited_pattern = '|'.join(lake_shore_limited)
lincoln_pattern = '|'.join(lincoln)
maple_leaf_pattern = '|'.join(maple_leaf)
missouri_river_runner_pattern = '|'.join(missouri_river_runner)
ne_regional_pattern = '|'.join(ne_regional)

amtrak_df['lake_shore_route'] = np.where(amtrak_df['station_name'].str.contains(lake_shore_limited_pattern, case=False, na=False), 1,0)
amtrak_df['lincoln_route'] = np.where(amtrak_df['station_name'].str.contains(lincoln_pattern, case=False, na=False), 1,0)
amtrak_df['maple_leaf_route'] = np.where(amtrak_df['station_name'].str.contains(maple_leaf_pattern, case=False, na=False), 1,0)
amtrak_df['missouri_river_runner_route'] = np.where(amtrak_df['station_name'].str.contains(missouri_river_runner_pattern, case=False, na=False), 1,0)
amtrak_df['ne_regional_route'] = np.where(amtrak_df['station_name'].str.contains(ne_regional_pattern, case=False, na=False), 1,0)

### Part 6

In [47]:
pacific_surliner = ['Anaheim','Burbank','Camarillo','Carpinteria','Chatsworth','Fullerton','Glendale','Goleta','Grover Beach','Guadalupe','Irvine','Los Angeles','Moorpark','Northridge','Oceanside','Oxnard','San Clemente','San Diego','SD Old Town','S.J. Capistrano','San Luis Obispo','Santa Ana','Santa Barbara','Simi Valley','Solana Beach','Surf','Van Nuys','Ventura','Lompoc']
palmetto = ['Alexandria','Baltimore','BWI Airport','North Charleston','Dillon','Fayetteville','Florence','Kingstree','Metropark','New Brunswick','New Carrollton','New York','Newark','Petersburg','Philadelphia','Princeton Jct.','Richmond','Rocky Mount','Savannah','Selma','Smithfield','Trenton','Washington, DC','Wilmington','Wilson','Yemassee']
pennsylvanian = ['Altoona','Elizabethtown','Exton','Greensburg','Harrisburg','Huntingdon','Johnstown','Lancaster','Latrobe','Lewistown','New York','Newark','Paoli','Philadelphia','Pittsburgh','Trenton','Tyrone']
pere_marquette = ['Bangor','Chicago','Grand Rapids','Holland','St. Joseph']
piedmont = ['Burlington, NC','Cary','Charlotte','Durham, NC','Greensboro','High Point','Kannapolis','Lexington','State Fair','Raleigh','Salisbury']

pacific_surliner_pattern = '|'.join(pacific_surliner)
palmetto_pattern = '|'.join(palmetto)
pennsylvanian_pattern = '|'.join(pennsylvanian)
pere_marquette_pattern = '|'.join(pere_marquette)
piedmont_pattern = '|'.join(piedmont)

amtrak_df['pacific_surliner_route'] = np.where(amtrak_df['station_name'].str.contains(pacific_surliner_pattern, case=False, na=False), 1,0)
amtrak_df['palmetto_route'] = np.where(amtrak_df['station_name'].str.contains(palmetto_pattern, case=False, na=False), 1,0)
amtrak_df['pennsylvanian_route'] = np.where(amtrak_df['station_name'].str.contains(pennsylvanian_pattern, case=False, na=False), 1,0)
amtrak_df['pere_marquette_route'] = np.where(amtrak_df['station_name'].str.contains(pere_marquette_pattern, case=False, na=False), 1,0)
amtrak_df['piedmont_route'] = np.where(amtrak_df['station_name'].str.contains(piedmont_pattern, case=False, na=False), 1,0)

### Part 7

In [85]:
san_joaquins = ['Antioch','Bakersfield','Allensw','Corcoran','Emeryville','Fresno','Hanford','Lodi','Madera','Martinez','Merced','Modesto','Oakland, CA','Richmond','Sacramento','Stockton','Turlock','Wasco']
silver_meteor = ['Alexandria','Baltimore','North Charleston','Deerfield Beach','DeLand','Delray Beach','Fayetteville','Florence','Fort Lauderdale','Fredericksburg','Hollywood','Jacksonville','Jesup','Kingstree','Kissimmee','Miami','New York','Newark, NJ','Orlando','Palatka','Petersburg','Philadelphia','Richmond','Rocky Mount','Savannah','Sebring','Trenton','Washington, DC','West Palm Beach','Wilmington','Winter Haven','Winter Park, FL','Yemassee']
southwest_chief = ['Albuquerque','Barstow','Chicago','Dodge City','Flagstaff','Fort Madison','Fullerton','Galesburg','Gallup','Garden City','Hutchinson','Kansas City','Kingman','La Junta','La Plata','Lamar','Lamy','Las Vegas','Lawrence','Los Angeles','Mendota','Naperville','Needles','Newton','Princeton, IL','Raton','Riverside','San Bernardino','Topeka','Trinidad','Victorville','Winslow']
sunset_limited = ['Alpine','Beaumont','Benson','Del Rio','Deming','El Paso','Houston','Lafayette, LA','Lake Charles','Lordsburg','Los Angeles','Maricopa','New Iberia','New Orleans','Ontario','Palm Springs','Pomona','San Antonio','Sanderson','Schriever','Tucson','Yuma']
wolverine = ['Albion','Ann Arbor','Battle Creek','Chicago','Dearborn','Detroit, MI','Dowagiac','Hammond, IL',
             'Jackson, MI','Kalamazoo','Michigan City','New Buffalo','Niles','Pontiac','Royal Oak','Troy']


san_joaquins_pattern = '|'.join(san_joaquins)
silver_meteor_pattern = '|'.join(silver_meteor)
southwest_chief_pattern = '|'.join(southwest_chief)
sunset_limited_pattern = '|'.join(sunset_limited)
wolverine_pattern = '|'.join(wolverine)

amtrak_df['san_joaquins_route'] = np.where(amtrak_df['station_name'].str.contains(san_joaquins_pattern, case=False, na=False), 1,0)
amtrak_df['silver_meteor_route'] = np.where(amtrak_df['station_name'].str.contains(silver_meteor_pattern, case=False, na=False), 1,0)
amtrak_df['southwest_chief_route'] = np.where(amtrak_df['station_name'].str.contains(southwest_chief_pattern, case=False, na=False), 1,0)
amtrak_df['sunset_limited_route'] = np.where(amtrak_df['station_name'].str.contains(sunset_limited_pattern, case=False, na=False), 1,0)
amtrak_df['wolverine_route'] = np.where(amtrak_df['station_name'].str.contains(wolverine_pattern, case=False, na=False), 1,0)

### Inspect each route to make sure correct stations are captured

In [86]:
inspect = amtrak_df[amtrak_df['wolverine_route']==1]
inspect[['state','station_name']].drop_duplicates().sort_values(by = 'state')
#inspect[['station_name']].unique().tolist()

      state      station_name
22932    IL       Pontiac, IL
32676    IL       Chicago, IL
1848     MI  Battle Creek, MI
6132     MI      Dearborn, MI
6888     MI       Detroit, MI
13776    MI       Jackson, MI
14364    MI     Kalamazoo, MI
19740    MI   New Buffalo, MI
20664    MI         Niles, MI
23016    MI       Pontiac, MI
24696    MI     Royal Oak, MI
29232    MI          Troy, MI

In [50]:
test = amtrak_df[amtrak_df['station_name'].str.contains("Fair")]
test['station_name'].unique().tolist()

['Fairfield-Vacaville, CA', 'Suisun City-Fairfield, CA']