In [121]:
import pandas as pd
import numpy as np


path = '/Users/jonzimmerman/Desktop/Data Projects/Amtrak/data/'
amtrak_df = pd.read_csv(path + 'amtrak_prepped_df.csv')
amtrak_df.shape

(33432, 14)

In [122]:
amtrak_df.head(2)

,Year,Month,Rides,address,state,station_name,abbrev,lat,lon,num_routes,active_routes,active_rides,parent_route,business_line
0,2016,1,1486.44,"18 E Bel Air Ave Aberdeen, MD 21001-3701",MD,"Aberdeen, MD",ABE,39.509437,-76.163827,1,['northeast_regional_route'],[21767995.0],Northeast Regional,Northeast Corridor
1,2016,2,2229.66,"18 E Bel Air Ave Aberdeen, MD 21001-3701",MD,"Aberdeen, MD",ABE,39.509437,-76.163827,1,['northeast_regional_route'],[21767995.0],Northeast Regional,Northeast Corridor

In [123]:
#--- Combine Year and Month
amtrak_df['year_month'] = pd.to_datetime(amtrak_df[['Year', 'Month']].assign(day=1))
amtrak_df['year_month'] = amtrak_df['year_month'].dt.strftime('%Y-%m-%d')

### Step 1: Check for any missing ride #s

In [124]:
missing = pd.DataFrame(amtrak_df.groupby('station_name')['Rides'].apply(lambda x: x.isna().sum())).reset_index()
missing[missing['Rides']>0]

                   station_name  Rides
11                  Arcadia, MO     12
23               Bellingham, WA     24
108     Fairfield-Vacaville, CA     24
198                    Lodi, CA     12
208                   Marks, MS     24
230            Mount Vernon, WA     12
273             Plattsburhg, NY     24
295                 Roanoke, VA     24
342  State Street-New Haven, CT     24
343       Stockton-Downtown, CA     12

### List out info that will be used in imputation process for each station

In [125]:
missing_list = missing[missing['Rides']>0]['station_name'].unique().tolist()
more_info_about_missing_rides = amtrak_df[amtrak_df['station_name'].isin(missing_list)]
more_info_about_missing_rides[['station_name','abbrev','lat','lon']].drop_duplicates()

                     station_name abbrev        lat         lon
924                   Arcadia, MO    ACD  37.649536  -90.671728
1932               Bellingham, WA    BEL  48.720417 -122.511263
9156      Fairfield-Vacaville, CA    FFV  38.285447 -121.967975
16632                    Lodi, CA    LOD  38.133181 -121.271741
17472                   Marks, MS    MKS  34.258176  -90.272366
19320            Mount Vernon, WA    MVW  48.417792 -122.334634
22764             Plattsburhg, NY    PLB  44.696703  -73.446430
24276                 Roanoke, VA    RNK  37.273114  -79.943461
28056  State Street-New Haven, CT    STS  41.295149  -72.937242
28140       Stockton-Downtown, CA    SKT  37.955839 -121.278763

## Which years are missing?

In [126]:
stn_code = "ACD"
more_info_about_missing_rides[more_info_about_missing_rides['abbrev']==stn_code].groupby('Year')['Rides'].sum()

Year
2016       0.0
2017    1081.0
2018    1018.0
2019    1144.0
2020     788.0
2021     577.0
2022     906.0
Name: Rides, dtype: float64

### Impute rides based on factor of closest station

In [127]:
# Given latitude and longitude
given_lat = 37.649536
given_lon = -90.671728
stn_code = "ACD"

# Function to calculate the Haversine distance
def haversine(lat1, lon1, lat2, lon2):
    R = 6371  # Radius of the Earth in kilometers
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat / 2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2.0)**2
    c = 2 * np.arcsin(np.sqrt(a))
    return R * c

# Filter out same stations
amtrak_df_test = amtrak_df[amtrak_df['abbrev']!=stn_code]

#Uncomment if you need to remove another station from list
#amtrak_df_test = amtrak_df_test[amtrak_df_test['abbrev']!="MVW"]

# Apply the function to calculate distance for each row
amtrak_df_test['Distance'] = amtrak_df_test.apply(lambda row: haversine(given_lat, given_lon, row['lat'], row['lon']), axis=1)

# Find the row with the minimum distance
closest_row = amtrak_df_test.loc[amtrak_df_test['Distance'].idxmin()]


if closest_row['station_name'] in missing_list:
    print(f"{closest_row['station_name']} ({closest_row['abbrev']}) is in the stations with missing rides list.")
else:
    print('Closest station is: ', closest_row['station_name'])
    print('Station Code: ', closest_row['abbrev'])

Closest station is:  Poplar Bluff, MO
Station Code:  PBF

/var/folders/yr/521qh_vn01n7j762jny9bmhw0000gn/T/ipykernel_1329/4137491655.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amtrak_df_test['Distance'] = amtrak_df_test.apply(lambda row: haversine(given_lat, given_lon, row['lat'], row['lon']), axis=1)

In [128]:
# Find factor difference between means of 2 stations - impute missing year adjusted by factor

imp_stn_code = "PBF"
org_stn_code = "ACD"

denominator = amtrak_df[amtrak_df['abbrev']==imp_stn_code]['Rides'].mean()
numerator = amtrak_df[amtrak_df['abbrev']==org_stn_code]['Rides'].mean()

factor = numerator/denominator
print(f'Avg Rides per month for {imp_stn_code}: ', denominator)
print(f'Avg Rides per month for {org_stn_code}: ', numerator)
print('Factor to adjust imputations: ', factor)

Avg Rides per month for PBF:  322.03571428571433
Avg Rides per month for ACD:  76.58333333333331
Factor to adjust imputations:  0.23781006247458494

In [129]:
imputed_values = amtrak_df[amtrak_df['abbrev']==imp_stn_code][['Year','Month','Rides']]
imputed_values = imputed_values[imputed_values['Year']==2016]
imputed_values['Rides'] = imputed_values['Rides']*factor
imputed_values['abbrev'] = org_stn_code
imputed_values

       Year  Month       Rides abbrev
23100  2016      1   45.317086    ACD
23101  2016      2   67.975628    ACD
23102  2016      3   79.304900    ACD
23103  2016      4  101.963442    ACD
23104  2016      5  124.621985    ACD
23105  2016      6  124.621985    ACD
23106  2016      7  135.951257    ACD
23107  2016      8  113.292714    ACD
23108  2016      9   79.304900    ACD
23109  2016     10   67.975628    ACD
23110  2016     11   90.634171    ACD
23111  2016     12  101.963442    ACD

In [130]:
# Merge the dataframes on the common columns
amtrak_df = pd.merge(amtrak_df, imputed_values, on=['Year', 'Month', 'abbrev'], how='left', suffixes=('', '_imputed'))

# Replace missing values in 'value' column with values from 'value_impute'
amtrak_df['Rides'] = amtrak_df['Rides'].combine_first(amtrak_df['Rides_imputed'])

# Drop the 'value_impute' column if no longer needed
amtrak_df = amtrak_df.drop(columns=['Rides_imputed'])

In [131]:
# Check missing again
missing = pd.DataFrame(amtrak_df.groupby('station_name')['Rides'].apply(lambda x: x.isna().sum())).reset_index()
missing[missing['Rides']>0]

                   station_name  Rides
23               Bellingham, WA     24
108     Fairfield-Vacaville, CA     24
198                    Lodi, CA     12
208                   Marks, MS     24
230            Mount Vernon, WA     12
273             Plattsburhg, NY     24
295                 Roanoke, VA     24
342  State Street-New Haven, CT     24
343       Stockton-Downtown, CA     12