In [20]:
import pandas as pd


path = '/Users/jonzimmerman/Desktop/Data Projects/Amtrak/'
amtrak_df = pd.read_csv(path + 'pcrd.csv')
amtrak_df.shape

(2716, 9)

In [21]:
amtrak_df.head(3)

,URL,Ridership Numbers,Station,Year,Address,Station Name,Abbreviation,Check,State
0,https://www.railpassengers.org/site/assets/fil...,37161.0,/site/assets/files/1679/abe.pdf,2016,"18 E Bel Air Ave Aberdeen, MD 21001-3701","Aberdeen, MD",ABE,a,MD
1,https://www.railpassengers.org/site/assets/fil...,37045.0,/site/assets/files/1679/abe.pdf,2017,"18 E Bel Air Ave Aberdeen, MD 21001-3701","Aberdeen, MD",ABE,a,MD
2,https://www.railpassengers.org/site/assets/fil...,37867.0,/site/assets/files/1679/abe.pdf,2018,"18 E Bel Air Ave Aberdeen, MD 21001-3701","Aberdeen, MD",ABE,a,MD

#### Clean up columns

In [22]:
del amtrak_df['URL']
del amtrak_df['Station']
del amtrak_df['Check']
amtrak_df.head(3)

,Ridership Numbers,Year,Address,Station Name,Abbreviation,State
0,37161.0,2016,"18 E Bel Air Ave Aberdeen, MD 21001-3701","Aberdeen, MD",ABE,MD
1,37045.0,2017,"18 E Bel Air Ave Aberdeen, MD 21001-3701","Aberdeen, MD",ABE,MD
2,37867.0,2018,"18 E Bel Air Ave Aberdeen, MD 21001-3701","Aberdeen, MD",ABE,MD

In [23]:
amtrak_df =amtrak_df.rename(
    columns={
        'Ridership Numbers': 'rides', 
        'Year': 'year',
        'Address': 'address',
        'Station Name': 'station_name',
        'Abbreviation': 'abbrev',
        'State': 'state'
    }
)
amtrak_df.columns

Index(['rides', 'year', 'address', 'station_name', 'abbrev', 'state'], dtype='object')

In [24]:
amtrak_df.dtypes

rides           float64
year              int64
address          object
station_name     object
abbrev           object
state            object
dtype: object

In [26]:
# Step 1: Define the seasonal proportions
seasonal_proportions = [
    0.04,  # January
    0.06,  # February
    0.07,  # March
    0.09,  # April
    0.11,  # May
    0.11,  # June
    0.12,  # July
    0.10,  # August
    0.07,  # September
    0.06,  # October
    0.08,  # November
    0.09   # December
]
import pandas as pd

# Ensure the proportions sum to 1
assert sum(seasonal_proportions) == 1, "Seasonal proportions must sum to 1."

# Function to transform the dataset
def yearly_to_monthly_seasonal(df, proportions):
    # List to hold the monthly data
    monthly_data = []

    # Loop through each row in the original DataFrame
    for _, row in df.iterrows():
        year = row['year']
        total = row['rides']
        
        # Create monthly rows for the current year based on proportions
        for month, proportion in enumerate(proportions, start=1):
            monthly_value = total * proportion
            monthly_row = {
                'Year': year,
                'Month': month,
                'Rides': monthly_value,
                'address': row['address'],
                'state': row['state']
            }
            monthly_data.append(monthly_row)
    
    # Create a DataFrame from the monthly data
    return pd.DataFrame(monthly_data)

# Transform the data
monthly_df = yearly_to_monthly_seasonal(amtrak_df, seasonal_proportions)

# Verify the results
monthly_df.head(3)

   Year  Month    Rides                                   address state
0  2016      1  1486.44  18 E Bel Air Ave Aberdeen, MD 21001-3701    MD
1  2016      2  2229.66  18 E Bel Air Ave Aberdeen, MD 21001-3701    MD
2  2016      3  2601.27  18 E Bel Air Ave Aberdeen, MD 21001-3701    MD

In [27]:
monthly_df.shape

(32592, 5)

In [28]:
32592/12

2716.0